<html>
   <body>
   
      <form action = "/signup" method = "POST">
         <p>Date for Questions tabled (please input date in format YYYY-MM-DD):</br> <input type = "text" name = "Date" /></p>
         <p>Indexers available (check as appropriate):</br> 
         <input type="checkbox" name="hello" value="Bosede" checked>
         <input type="checkbox" name="hello" value="Clare" checked>
         <input type="checkbox" name="hello" value="Emma" unchecked>
         <input type="checkbox" name="hello" value="Jason" checked>
         <input type="checkbox" name="hello" value="Kirsty" checked>
         <input type="checkbox" name="hello" value="Ned" checked>
         <input type="checkbox" name="hello" value="Sarah" checked>
         <input type="checkbox" name="hello" value="Phil" unchecked>
         <input type="checkbox" name="hello" value="Martin" unchecked>
      <input type="submit" value="Submit">
      </form>
      
   </body>
</html>
