<html>
   <body>
   
      <form action = "/signup" method = "POST">
         <p>Date for Questions tabled (please input date in format YYYY-MM-DD):</br> <input type = "text" name = "Date" /></p>
         <p>Indexers available (check as appropriate):</br> 
         <p>Bosede <input type="checkbox" name="hello" value="Bosede" checked></p>
         <p>Clare <input type="checkbox" name="hello" value="Clare" checked></p>
         <p>Emma <p><input type="checkbox" name="hello" value="Emma" unchecked></p>
         <p>Jason <input type="checkbox" name="hello" value="Jason" checked></p>
         <p>Kirsty <input type="checkbox" name="hello" value="Kirsty" checked></p>
         <p>Ned <input type="checkbox" name="hello" value="Ned" checked></p>
         <p>Sarah <input type="checkbox" name="hello" value="Sarah" checked></p>
         <p>Phil <input type="checkbox" name="hello" value="Phil" unchecked></p>
         <p>Martin <input type="checkbox" name="hello" value="Martin" unchecked></p>
      <input type="submit" value="Submit">
      </form>
      
   </body>
</html>
