<html>
   <body>
   
      <form action = "/signup" method = "POST">
         <p>Date for Questions tabled (please input date in format YYYY-MM-DD):</br> <input type = "text" name = "Date" /></p>
         <p>Indexers available (please ensure names are in quotes):</br> 
         <input type = "text" name = "Indexers" value = "'Clare'" /></p>
         <input type = "text" name = "Indexers" value = "''Ned'" /></p>
         <input type = "text" name = "Indexers" value = "'Jason'" /></p>
         <input type = "text" name = "Indexers" value = "'Bosede'" /></p>
         <input type = "text" name = "Indexers" value = "'Kirsty'" /></p>
         <input type = "text" name = "Indexers" value = "None" /></p>
      <input type="submit" value="Submit">
      </form>
      
   </body>
</html>
